/* Background */
body {
    font-family: Helvetica;
    background: url("assets/Background.png");
    background-size:cover;
 }
 
 /* Always visible elements */
 .title {
   z-index: 2;
   position: absolute;
   top: 15%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .wheel {
   z-index: 2;
   position: absolute;
   top: 38%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 /* Connection Screen Elements */
#connect_screen {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
}

.username {
  z-index: 2;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.connectButton {
  z-index: 2;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.usernameInput{
  width: 435px;
  height: 75px;
  z-index: 3;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align:center;
}

.errorUsername {
  width: 500px;
  height: 50px;
  position: absolute;
  top: 92.5%;
  left: 40.5%;
  color:red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  visibility: hidden;
}

/* Lobby Screen Elements */
.hostMenuLabel {
  width: 500px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 75.5%;
  color:orangered;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.numberOfQuestions {
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.playButton {
  z-index: 2;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.questionNumberInput{
  width: 260px;
  height: 120px;
  z-index: 3;
  position: absolute;
  top: 47.5%;
  left: 80.1%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align:center;
}

.errorQuestionNumber {
  width: 500px;
  height: 50px;
  position: absolute;
  top: 55%;
  left: 70.75%;
  color:red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  visibility: hidden;
}

/* Player Information */
.player1Icon {
  width: 200px;
  height: 200px;
  z-index: 2;
  position: absolute;
  top: 15%;
  left: 6%;
  transform: translate(-50%, -50%);
}

.player2Icon {
  width: 150px;
  height: 150px;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.player3Icon {
  width: 150px;
  height: 150px;
  z-index: 2;
  position: absolute;
  top: 43%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.player1Name {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 12%;
  left: 11%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

.player1Points {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 15%;
  left: 11%;
  color:green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.player2Name {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 27%;
  left: 9%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.player2Points {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 29.5%;
  left: 9%;
  color:green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
}

.player3Name {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 40%;
  left: 9%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.player3Points {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 42.5%;
  left: 9%;
  color:green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
}

/* Spin Screen Elements */
.spinButton {
  z-index: 2;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* Questions Left Elements */

.questionsLeftBox {
  width: 474px;
  height: 144px;
  z-index: 2;
  position: absolute;
  top: 6%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.questionsLeftNumber {
  z-index: 3;
  width: 300px;
  height: 50px;
  position: absolute;
  top: 5%;
  left: 89%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color:orangered;
}

/* Wheel Spinning Elements */
.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}