body {
    font-family: Helvetica;
    background: url("assets/Background.png");
    background-size:cover;
 }

 #title {
  z-index: 4;
  height: 340px;
  width: 873px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("assets/WheelofJeopardyTitle.png");
}

#username {
  z-index: 2;
  height: 155px;
  width: 473px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("assets/UsernameTextEntry.png");
}

#connect {
  z-index: 2;
  height: 55px;
  width: 263px;
  position: absolute;
  top: 85%;
  left: 80%;
  transform: translate(-50%, -50%);
  background: url("assets/ConnectButton.png");
}
